<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <appender name ="consola" class ="ch.qos.logback.core.ConsoleAppender">
        <encorder>
            <pattern>%d (dd-MMM-yyyy | HH:mm:ss)[%thread] %5level %logger -----%msg%n</pattern>
        </encorder>
    </appender>

    <root level="info">
        <appender-ref ref="consola"/>
    </root>


</configuration>